/* @import url('https://fonts.googleapis.com/css2?family=Arvo&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Montserrat&Old+Standard+TT&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: Poppins;
}

p,
input {
  font-family: 'Old Standard TT';
  background-color: white;
}

label {
  font-size: 18px;
}

input {
  font-size: 16px;
}

.container {
  margin: 0 3em;
}

/* HOMEPAGE STYLES BELOW */

body * {
  color: black;
}

html {
  max-width: 100%;
  overflow-x: hidden;
}

button {
  font-size: 12pt;
  padding: 0.5em 1em;
  border: none;
  height: 50px;
  width: fit-content;
  transition: color 0.4s ease-out, background-color 0.4s ease-out,
    transform 0.4s ease-out, box-shadow 0.2s ease-out;
}

button {
  border-radius: 25px;
}

button,
input.submit {
  font-family: Poppins;
  font-weight: 600;
}

/* STYLES FOR LOGIN & REGISTER PAGES BELOW */

body:where(
    :has(> #login),
    :has(> #register),
    :has(> #verify-email),
    :has(> #loading),
    :has(> #email-verified),
    :has(> #email-not-verified),
    :has(> #logged-in),
    :has(> #reset-password),
    :has(> #password-reset)
  ) {
  /* height: 100vh; */
  min-height: 100%;
  width: 100vw;
}

body:where(
    :has(> #login),
    :has(> #verify-email),
    :has(> #loading),
    :has(> #reset-password),
    :has(> #password-reset)
  ) {
  overflow: hidden;
}

body:has(
    > #root
      > :where(
        #login,
        #register,
        #verify-email,
        #loading,
        #reset-password,
        #password-reset
      )
  ) {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    60deg,
    rgba(139, 55, 55, 0.8),
    rgba(248, 125, 18, 0.8)
  );
}

.card:where(#login, #register, #reset-password, #password-reset) {
  background-color: white;
  border-radius: 10px;
  width: 70vw;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 20px;
  padding-bottom: 30px;
  padding-left: 35px;
  padding-right: 43px;
}

.card {
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.338);
}

form {
  width: 100%;
}

.card:where(#register, #login, #reset-password, #password-reset)
  :where(form, form > div) {
  display: flex;
  flex-direction: column;
}

.card:where(#register, #login, #reset-password, #password-reset) form {
  gap: 3em;
}

.field {
  width: 95%;
}

.field > input {
  width: 100%;
}

.password-subfield {
  width: 110%;
  display: flex;
  flex-direction: row;
}

.password-section {
  gap: 1em;
}

.card#password-reset .password-subfield > input {
  width: 85%;
}

input:focus {
  outline: none;
}

select {
  margin-top: 10px;
}

.eye-icon {
  transform: scale(0.5);
}

.eye-icon:hover {
  opacity: 0.5;
}

.eye-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: rgba(230, 230, 230, 0.5); */
  height: 23px;
  width: 45px;
  /* border: solid 1px rgba(0, 0, 0, 0.3); */
  /* transform: translateX(-1px); */
}

.name-section {
  gap: 2em;
}

input.submit,
button.submit {
  text-transform: uppercase;
  color: white;
  background-color: black;
  border-radius: 5px;
}

input.submit,
form button.submit {
  padding: 10px 0;
}

.form-err {
  background-color: rgba(rgba(156, 3, 3, 0.56));
  color: white;
  border-radius: 10px;
}

body:has(
    > #root
      > :where(
        #login,
        #register,
        #verify-email,
        #reset-password,
        #password-reset,
        #email-verified,
        #logged-in
      )
  ) {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

body:has(> #root > :where(#email-verified, #logged-in)) {
  background-image: linear-gradient(
    60deg,
    rgba(19, 20, 20, 0.8),
    rgb(1, 199, 249)
  );
}

.card#email-not-verified {
  background-image: linear-gradient(
    60deg,
    rgba(8, 7, 7, 0.8),
    rgba(183, 39, 39, 0.8)
  );
}

#email-not-verified > .container > button {
  background-color: white;
}

body:has(
    > #root
      > :where(#verify-email, #email-verified, #email-not-verified, #logged-in)
  ) {
  position: relative;
}

.cutout:where(#verify-email, #email-verified, #logged-in),
.container#email-not-verified {
  margin: 0 auto;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 10px;
  width: 70%;
  transform: translate(-50%, -50%);
}

.cutout:where(#verify-email, #email-verified, #logged-in),
#loading > div,
.container#email-not-verified > .cutout {
  font-size: 9vw;
  font-weight: bold;
}

#loading > div {
  color: white;
}

.cutout:where(#verify-email, #email-verified, #logged-in),
.container#email-not-verified > .cutout {
  background-color: white;
  mix-blend-mode: screen;
}

/* Styles for intro page below */

p:not(form *),
h1 {
  margin: 20px;
}

/* Styles for profile below */

#profile .container {
  padding-top: 30px;
}

#profile .profile-pic {
  border-radius: 50%;
}

@media (min-width: 1024px) {
  .card:where(#login, #register, #reset-password, #password-reset) {
    width: 350px;
  }

  .field {
    width: 100%;
  }
}
